@font-face {
  font-family: 'Vazirmatn';
  src: url('assets/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('assets/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-md-editor-toolbar {
  direction: rtl;
}
.w-md-editor-text-input,
.w-md-editor-text-pre,
.w-md-editor-preview {
  direction: rtl;
  text-align: right;
}
